.unitydots-picker-field__input
{
	flex-grow: 1;
	flex-direction: row;
	align-items: center;
}

.unitydots-picker-field__input__button
{
	flex-grow: 1;
	margin: 0;
	padding: 0px 3px 1px 3px;
}

.unitydots-picker-field__input__button__icon
{
	min-height: 12px;
	max-height: 12px;
	min-width: 12px;
	max-width: 12px;
	margin: 1px 5px 0px 0px;
	align-self: center;
}

.unitydots-picker-field__input__button__label
{
	flex-grow: 1;
	margin-top: 1px;
	margin-bottom: 0px;
}

.unitydots-picker-field__input__button__arrow
{
	align-self: flex-end;
}
