.unitydots-list-field > .unitydots-frame {
    flex-grow: 1;
}

.unitydots-list-field__list-view {
    flex-grow: 1;
    height: 600px;
}

.unitydots-list-field__item {
    flex-direction: row;
    background-color: #D0D0D0;
    padding: 4px;
    border-color: #A8A8A8;
    border-width: 0 0 1px 0;
}

.unitydots-list-field__item.unity-list-view__item--alternative-background {
    background-color: #C0C0C0;
}

.unitydots-list-field__item:hover {
    background-color: #B2B2B2;
}

.unitydots-list-field__item-value {
    align-self: center;
    flex-grow: 1;
}

.unitydots-list-field__item-drag-handle {
    align-self: center;
}

.unitydots-list-field__item-remove-btn {
    align-self: center;
}

.unitydots-list-field--stretch {
    margin-top: -3px;
    margin-left: -15px;
    flex-grow: 1;
}

.unitydots-list-field--stretch > .unitydots-frame {
    margin: -1px;
}
